In [1]:
from sklearn.svm import SVC
from sklearn import svm
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('/home/nayak_pratheek17/Desktop/College Material/ML/MachineLearningLab/B2.csv')

In [3]:
data

      Id       RI     Na    Mg    Al    Si      K    Ca    Ba   Fe  Type
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 11 columns]

In [4]:
x = data.drop('Type', axis = 1)
y = data.Type

In [5]:
x

      Id       RI     Na    Mg    Al    Si      K    Ca    Ba   Fe
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 10 columns]

In [6]:
y

0      1
1      1
2      1
3      1
4      1
      ..
209    7
210    7
211    7
212    7
213    7
Name: Type, Length: 214, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.3)

In [9]:
linear = svm.SVC(kernel = 'linear')
linear.fit(xtrain, ytrain)

SVC(kernel='linear')

In [10]:
print(linear.support_vectors_)

[[6.90000e+01 1.52152e+00 1.31200e+01 3.58000e+00 9.00000e-01 7.22000e+01
  2.30000e-01 9.82000e+00 0.00000e+00 1.60000e-01]
 [1.46000e+02 1.51839e+00 1.28500e+01 3.67000e+00 1.24000e+00 7.25700e+01
  6.20000e-01 8.68000e+00 0.00000e+00 3.50000e-01]
 [7.30000e+01 1.51593e+00 1.30900e+01 3.59000e+00 1.52000e+00 7.31000e+01
  6.70000e-01 7.83000e+00 0.00000e+00 0.00000e+00]
 [7.10000e+01 1.51574e+00 1.48600e+01 3.67000e+00 1.74000e+00 7.18700e+01
  1.60000e-01 7.36000e+00 0.00000e+00 1.20000e-01]
 [1.47000e+02 1.51769e+00 1.36500e+01 3.66000e+00 1.11000e+00 7.27700e+01
  1.10000e-01 8.60000e+00 0.00000e+00 0.00000e+00]
 [1.62000e+02 1.51934e+00 1.36400e+01 3.54000e+00 7.50000e-01 7.26500e+01
  1.60000e-01 8.89000e+00 1.50000e-01 2.40000e-01]
 [1.66000e+02 1.52171e+00 1.15600e+01 1.88000e+00 1.56000e+00 7.28600e+01
  4.70000e-01 1.14100e+01 0.00000e+00 0.00000e+00]
 [1.76000e+02 1.52119e+00 1.29700e+01 3.30000e-01 1.51000e+00 7.33900e+01
  1.30000e-01 1.12700e+01 0.00000e+00 2.80000e-01]
 [1.75000e+02 1.52058e+00 1.28500e+01 1.61000e+00 2.17000e+00 7.21800e+01
  7.60000e-01 9.70000e+00 2.40000e-01 5.10000e-01]
 [1.85000e+02 1.51115e+00 1.73800e+01 0.00000e+00 3.40000e-01 7.54100e+01
  0.00000e+00 6.65000e+00 0.00000e+00 0.00000e+00]
 [1.77000e+02 1.51905e+00 1.40000e+01 2.39000e+00 1.56000e+00 7.23700e+01
  0.00000e+00 9.57000e+00 0.00000e+00 0.00000e+00]
 [1.81000e+02 1.51299e+00 1.44000e+01 1.74000e+00 1.54000e+00 7.45500e+01
  0.00000e+00 7.59000e+00 0.00000e+00 0.00000e+00]
 [1.83000e+02 1.51916e+00 1.41500e+01 0.00000e+00 2.09000e+00 7.27400e+01
  0.00000e+00 1.08800e+01 0.00000e+00 0.00000e+00]
 [1.88000e+02 1.52315e+00 1.34400e+01 3.34000e+00 1.23000e+00 7.23800e+01
  6.00000e-01 8.83000e+00 0.00000e+00 0.00000e+00]
 [1.89000e+02 1.52247e+00 1.48600e+01 2.20000e+00 2.06000e+00 7.02600e+01
  7.60000e-01 9.76000e+00 0.00000e+00 0.00000e+00]
 [1.86000e+02 1.51131e+00 1.36900e+01 3.20000e+00 1.81000e+00 7.28100e+01
  1.76000e+00 5.43000e+00 1.19000e+00 0.00000e+00]]

In [11]:
print(linear.n_support_)

[1 3 2 3 4 3]

In [13]:
ypred = linear.predict(xtest)

In [14]:
ypred

array([1, 1, 2, 2, 1, 3, 5, 2, 7, 1, 7, 3, 7, 2, 7, 1, 3, 2, 1, 1, 1, 1,
       2, 7, 3, 1, 7, 7, 7, 2, 7, 7, 1, 2, 3, 3, 1, 6, 5, 1, 2, 1, 7, 1,
       2, 2, 1, 7, 2, 2, 2, 2, 2, 6, 1, 2, 5, 1, 5, 1, 5, 2, 1, 7, 7])

In [15]:
from sklearn.metrics import accuracy_score
print(accuracy_score(ytest, ypred))

0.9846153846153847

In [16]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
print(confusion_matrix(ytest, ypred))
print(classification_report(ytest, ypred))

[[20  0  0  0  0  0]
 [ 0 18  0  0  0  0]
 [ 0  0  5  0  0  0]
 [ 0  0  1  5  0  0]
 [ 0  0  0  0  2  0]
 [ 0  0  0  0  0 14]]
              precision    recall  f1-score   support

           1       1.00      1.00      1.00        20
           2       1.00      1.00      1.00        18
           3       0.83      1.00      0.91         5
           5       1.00      0.83      0.91         6
           6       1.00      1.00      1.00         2
           7       1.00      1.00      1.00        14

    accuracy                           0.98        65
   macro avg       0.97      0.97      0.97        65
weighted avg       0.99      0.98      0.98        65

In [ ]:
model1 = SVC(kernel = 'sigmoid')
model2 = SVC(kernel = 'poly')
model3 = SVC(kernel = 'rbf')

model1.fit(xtrain, ytrain)
model2.fit(xtrain, ytrain)
model3.fit(xtrain, ytrain)

ypred1 = model1.predict(xtest)
ypred2 = model2.predict(xtest)
ypred3 = model3.predict(xtest)

print("")